src/main/mule/sps-trainee-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="sps-trainee-apiFlow" doc:id="c9d20aea-1b38-4da8-85b2-6356af3004cd" >
		<http:listener doc:name="Retrieve Customers" doc:id="0afdc15d-19da-4fde-944e-44a1eb1d846c" config-ref="spsHttpConfig" path="/customers" allowedMethods="GET"/>
		<db:select doc:name="Retrieve Customers From Database" doc:id="65422700-c121-477e-9416-5bdd6c9335da" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM customers LIMIT :page_size OFFSET :offset;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	page_size: (attributes.queryParams.page_size default 10) as Number,
	    offset: (((attributes.queryParams.page_number default 1) as Number) - 1) * ((attributes.queryParams.page_size default 10) as Number)
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="982a45d3-dbe5-430a-aa22-f29d119b40e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    totalCustomers: sizeOf(payload),
    customers: payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
